//
// footer.scss
//
.footer {
    display: none;
    background: $footer;
    padding: 60px 0;
    position: relative;
    color: $gray-500;
    &.footer-bar {
        padding: 30px 0;
        border-top: 1px solid lighten($footer, 5%);
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}

@media (max-width: 990px) {
  .footer {
    &.footer-bar {
      padding: 30px 0 80px;
      border-top: 1px solid lighten($footer, 5%);
      position: relative;
      width: unset;
      bottom: unset;
    }
  }
}
@media (min-height: 750px) {
  .footer {
    &.footer-bar {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}
